/*
 * Base structure
 */
body {
	padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 4px;
	border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */ /* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar>.active>a {
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */
.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.ksknns li:HOVER {
	background-color: #f5f5f5;
}

.li-header {
	border-bottom: 1px solid #eee;
}

.list-docs {
	padding-left: 0;
	list-style: none;
}

.list-docs li {
	padding-top: 15px;
	padding-bottom: 13px;
	font-variant: inherit;
}

.show-grid-board {
	margin-bottom: 1px;
}

.show-grid-board [class ^="col-"] {
	background-color: rgba(86, 61, 124, 0.15);
	border: 1px solid rgba(86, 61, 124, 0.2);
	padding-bottom: 10px;
	padding-top: 10px;
}

input[type=checkbox].css-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
	padding-left: 20px;
	height: 17px;
	display: inline-block;
	line-height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
	background-position: 0 -17px;
}

.css-label {
	background-image: url(../img/elegant.png);
}

/**
以下部分为文件显示列表css
***/
.btn-upload {
	float: left;
	margin-left: 0px;
	display: block;
	height: 33px;
	width: 79px;
	background: url('../img/iconupdate.png') no-repeat;
	color: #ffffff !important;
}

.btn-upload em {
	height: 33px;
	width: 79px;
	line-height: 33px;
	margin-left: 35px;
	font-style: normal;
}

.btn-upload:hover {
	color: #1474B0;
	background: url('../img/iconupdatehover.png') no-repeat;
}

.btn-create {
	float: left;
	height: 33px;
	background: url('../img/createfile.png') no-repeat;
	display: block;
	width: 115px;
	line-height: 30px;
	line-height: 30px\9;
	color: #666 !important;
	margin-left: 10px;
	
}

.btn-create em {
	height: 33px;
	line-height: 33px;
	margin-left: 35px;
	font-style: normal;
	color: #333;
}

.btn-create:hover {
	background: url('../img/createfilehover.png') no-repeat;
}

.btn-download {
	float: left;
	margin-left: 0px;
	position: absolute;
	display: block;
	height: 33px;
	width: 79px;
	background: url('../img/docDownload.png') no-repeat;
	color: #ffffff;
	margin-left: 215px;
}

.btn-download em {
	height: 33px;
	line-height: 33px;
	margin-left: 30px;
	font-style: normal;
	color:#333; 
}

.btn-download:hover {
	color: #1474B0;
	background: url('../img/docDownloadhover.png') no-repeat;
}

.btn-delete {
	float: left;
	margin-left: 80px;
	position: absolute;
	display: block;
	height: 33px;
	width: 79px;
	background: url('../img/docDelete.png') no-repeat;
	color: #ffffff;
	margin-left: 305px;
}

.btn-delete em {
	height: 33px;
	line-height: 33px;
	margin-left: 30px;
	font-style: normal;
	color: #333;
}

.btn-delete:hover {
	color: #1474B0;
	background: url('../img/docDeletehover.png') no-repeat;
}






.iconbtncreateshare {
	height: 33px;
	background: url('../img/createshare.png') no-repeat;
	display: block;
	width: 115px;
	line-height: 30px;
	line-height: 30px\9;
	margin-left: 0px;
	color: #666 !important
}

.iconbtncreateshare em {
	height: 33px;
	line-height: 33px;
	margin-left: 45px;
}

.iconbtncreateshare:hover {
	background: url('../img/createsharehover.png') no-repeat;
}

.iconbtnclearfile {
	height: 33px;
	background: url('../img/createclearfile.png') no-repeat;
	display: block;
	width: 115px;
	line-height: 30px;
	line-height: 30px\9;
	margin-left: 160px;
	color: #666 !important
}

.iconbtnclearfile em {
	height: 33px;
	line-height: 33px;
	margin-left: 45px;
}

.iconbtnclearfile:hover {
	background: url('../img/createclearfilehover.png') no-repeat;
}

.bbtnDocShenpi {
	float: left;
	margin-left: 0px;
	position: absolute;
	display: block;
	height: 33px;
	width: 79px;
	background: url('../img/docShenpi.png') no-repeat;
	color: #ffffff;
}

.bbtnDocShenpi em {
	height: 33px;
	line-height: 33px;
	margin-left: 30px;
}

.bbtnDocShenpi:hover {
	color: #1474B0;
	background: url('../img/docShenpihover.png') no-repeat;
}


.shared {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40px;
	height: 13px;
	line-height: 10;
	overflow: hidden;
	background-image: url(../img/doc/ico_shared_type.png);
	background-repeat: no-repeat;
	background-position: 0 -14px;
	_background-image: url(../img/doc/ico_shared_type.gif);
}

.file-type .shared {
	bottom: -3px;
	left: -2px;
	width: 28px;
	height: 9px;
	background-position: 0 0;
}

.disabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
	opacity:0.5;
	color:#ccc
}

.disabled{
	cursor: not-allowed
}

.disabled, .disabled:link, .disabled:hover, .disabled:visited, .actions .disabled, .actions .disabled:link, .actions .disabled:hover, .actions .disabled:visited {
	text-decoration:none;
	cursor:default;
	pointer-events:none;
	color:#9ebdd9
}
